@using MuInMVC.ModelViews
@using MuInShared.Category
@using MuInShared.Product
@model ProductListCombine

@{
    ViewData["Title"] = "MuIn Product";
	string baseUrl = "https://localhost:7137/files/products";
}

<partial name="_Header2" />
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Shop</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-80 mb-80">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">All</li>
						@foreach (var cat in (List<CategoryDto>)ViewData["Categories"])
						{
							<li><a asp-controller="Product" asp-action="Index" asp-route-catId="@cat.CatId">@cat.CatName</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<vc:query-product></vc:query-product>
			</div>
			<div class="col-10 product-lists">
				<div class="row">
					@foreach (var product in Model.ProductList)
					{
						<div class="col-lg-4 col-md-6 text-center strawberry">
							<div class="single-product-item">
								<div class="product-image w-100 mb-4" style="height:250px">
									<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.ProductId"><img src=@(product.ProductImage != "" ? baseUrl + "/" + product.ProductImage : "/assets/img/products/product_default.jpg" ) style="width:100%; height:100%; object-fit:cover" alt="@product.ImageName"></a>
								</div>
								<h3>@product.ProductName</h3>
								<p class="product-price"> @product.ProductPrice.ToString("#,##0") VNĐ </p>
								<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.ProductId" class="cart-btn"><i class="fas fa-shopping-cart"></i> Xem thêm </a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						<li><a href="#">Prev</a></li>
						@for(int i = 1; i<=Model.SortFilterPageData.NumPages; i++)
						{
							@if(i == Model.SortFilterPageData.PageNum)
							{
								<li><a class="active" href="?PageNum=@i&PageSize= 3&OrderByOptions=@Model.SortFilterPageData.OrderByOptions&FilterBy=@Model.SortFilterPageData.FilterBy&FilterValue=@Model.SortFilterPageData.FilterValue">@i</a></li>
							} else
							{
								<li><a href="?PageNum=@i&PageSize= 3&OrderByOptions=@Model.SortFilterPageData.OrderByOptions&FilterBy=@Model.SortFilterPageData.FilterBy&FilterValue=@Model.SortFilterPageData.FilterValue">@i</a></li>
							}
						}
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

