@using MuInMVC.ModelViews
@using MuInShared.Cart
@using MuInShared.Comment
@model MuInShared.Product.ProductFullDto;
@{
	ViewData["Title"] = ViewBag.ProductName;
	var AddToCartVM = ViewBag.AddToCart as AddToCartVM;
	var RequestCommentDto = ViewBag.RequestCommentDto as RequestCommentDto;
	var productImage = Model.ProductImage;
	var imageUrl = $"https://firebasestorage.googleapis.com/v0/b/muinimage.appspot.com/o/images%2F{productImage}?alt=media&token=fd9499bb-8e10-473f-b349-b408168e4e1e";
}

<partial name="_Header2" />
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>@Model.ProductName</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img product-image">
					<img src=@productImage alt="Product Image" class="productImage" />
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h2>@Model.ProductName</h2>
					@if (Model.CommentDtos != null && Model.CommentDtos.Count() > 0)
					{
						<p class="single-product-pricing">
							@Model.CommentDtos.Average(x => x.Rate)/5<i class="fas fa-star text-warning"></i>
						</p>
					} else
					{
						<p class="single-product-pricing">
							0/5<i class="fas fa-star text-warning"></i>
						</p>
					}
					<p class="single-product-pricing price"> @Model.ProductPrice.ToString("#,##0") VNĐ</p>
					<p>@Model.Description</p>
					<div class="single-product-form">
						<form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" method="Post">
							<input type="hidden" asp-for="@AddToCartVM.ProductId" class="ProductId" />
							<div class="row gx-10">
								<div class="col-2">
									<input type="number" placeholder="0" asp-for="@AddToCartVM.Quantity" id="quantityInput" class="form-control">
								</div>
								<div class="col-4">
									<select asp-for="@AddToCartVM.ColorId" class="form-control color" asp-items="ViewBag.Colors" id="colorSelect">
										<option value="" selected disabled>Choose Color</option>
									</select>
								</div>
							</div>
							<button type="submit" class="p-0 border-0 bg-white mb-5 btn shadow-none">
								<a class="cart-btn mb-0"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
							</button>
						</form>
						<p><strong>Categories: </strong>@Model.CategoryName</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- comment -->
		<div class="comments-list-wrap">
			@if (Model.CommentDtos.Count()==0)
			{
				<h3 class="comment-count-title">Hãy là người bình luận đầu tiên</h3>
			} else
			{
				<h3 class="comment-count-title">@Model.CommentDtos.Count() Comments</h3>
				<div class="comment-list">
					@foreach(var comment in Model.CommentDtos)
					{
						<div class="single-comment-body">
							<div class="comment-user-avater">
								<img src="~/assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="comment-text-body">
								<div class="row">
									<h4 class="col-5">@comment.UserName <span class="comment-date">@comment.CreatedAt.ToString("dd-MM-yyyy")</span> </h4>
									<h4 class="col-3">@comment.Rate <i class="fas fa-star text-warning"></i> </h4>
								</div>
								<b>@comment.Title</b>
								<p>@comment.Content</p>
							</div>
						</div>
					}
			</div>	
			}
		</div>

		<div class="comment-template">
			<h4>Viết Bình Luận</h4>
			@if (TempData["Message"] != null)
			{
				<div class="alert alert-info">
					@TempData["Message"]
				</div>
			}
			<form asp-controller="Product" asp-action="CreateComment" method="Post">
				<input name="productId" type="hidden" value="@Model.ProductId"/>
				<p>
					<input asp-for="@RequestCommentDto.Title" type="text" placeholder="Tiêu đề">
				</p>
				<p>
					<input asp-for="@RequestCommentDto.Rate" type="number"/> /5
				</p>

				<p><textarea asp-for="@RequestCommentDto.Content" cols="30" rows="10" placeholder="Bình luận tại đây"></textarea></p>
				<p><input type="submit" value="Đăng"></p>
			</form>
		</div>
		<!-- end of comment-->
	</div>
</div>
<!-- end single product -->


<!-- more products -->
<div class="more-products mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Related</span> Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
					</div>
					<h3>Strawberry</h3>
					<p class="product-price"><span>Per Kg</span> 85$ </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
					</div>
					<h3>Berry</h3>
					<p class="product-price"><span>Per Kg</span> 70$ </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
					</div>
					<h3>Lemon</h3>
					<p class="product-price"><span>Per Kg</span> 35$ </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end more products -->

 @section Scripts {
	<script>
		$(document).ready(function () {
			console.log("Document is ready");
			$(".color").change(function () {
				console.log("Color changed");
				var productId = $('.ProductId').val();
				var colorId = $('.color').val();  // Assuming the color input has the class "color"
				$.ajax({
					url: '/Product/ChangeColor',
					type: "POST",
					dataType: "JSON",
					data: {
						productId: productId,
						colorId: colorId
					},
					success: function (results) {
						var priceInVND = results.unitPrice; 
						console.log(results.skuImage)
						$(".price").html(formatVND(priceInVND));
						$(".productImage").attr("src", results.skuImage);
					},
					error: function (xhr) {
						alert("An error occurred: " + xhr.status + " " + xhr.statusText);
					}
				});
			});
		});

		document.getElementById('addToCartForm').addEventListener('submit', function (event) {
			var quantity = document.getElementById('quantityInput').value;
			var color = document.getElementById('colorSelect').value;

			if (quantity === '' || quantity <= 0) {
				alert('Bạn cần nhập số lượng mua');
				event.preventDefault(); // Prevent form submission
				return;
			}

			if (color === '') {
				alert('Bạn muốn màu gì?');
				event.preventDefault(); // Prevent form submission
				return;
			}
		});

		function formatVND(priceInVND) {
			return (priceInVND.toLocaleString('vi-VN') + ' VNĐ').replaceAll('.', ',');;
		}
	</script>
 }